*{
    padding: 0%;
    margin: 0%;
}
#list{
    list-style-type: none;
    display: flex;
    gap: 5%;
}
.a1{
    text-decoration: none;
    color: black;
}
#nav{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
#header{
    display: flex;
    align-items: center;
    width: 98%;
    padding: 2%;
    background-color: #d9d9d9;
}
#logo{
    width: 20%;
}
#coluna1{
    width: 50%;
}
#coluna2{
    width: 50%;
}
#container{
    width: 100%;
    height: 100%;
}
#conteudo{
    display: flex;
    padding: 2%;
}
#img1{
    width: 80%;
    padding-top: 3%;
}