#container{
    display: flex;
    flex-direction: column;
}
#html{
    font-size: 20px;
}
#T1{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
#P1{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
#img1{
    width: 15rem;
    
}
#Cabecalho{
    padding: 2rem;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Secao{
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#Rodape{
    padding: 2rem;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ul1{
    list-style-type: none;
    display: flex;
    gap: 1vw;
}
.a1{
    color: white;
    text-decoration: none;
}